
@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Companies</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <img id="companyLogo" class="img-thumbnail img-responsive" src="https://impactspace.com/images/uploads/04042015_081155.jpg" alt="Arcenciel Logo">
                    </div>
                    <div class="col-xs-9 text-left">
                        <div id="companyName" class="h2">Arcenciel</div>
                        <div id="companyDescription" class="text-info">this is a description</div>
                    </div>
                </div>
            </div>
           
                    <div class="panel-footer ">
                        <div class="row">
                            <a href="https://www.arcenciel.org/">
                                <div class="col-lg-4">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                                </a>
                                <a href="https://www.googlmaps.com/api">
                                    <div class="col-lg-4">
                                        <span class="pull-left">View Location</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            <a href="~/Views/Home/PickUps">
                                <div class="col-lg-4 ">
                                    <span class="pull-left">Request Pick-Up</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
</div>
                    </div>
        </div>
    </div>

    
</div>